/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// *************************************** lA PARTIE SECTION LANGUAGE & LOGICIEL DU SITE ********************************* \\
/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

// section
.language_logiciel{
    margin-top: 6%;
    position: relative;
    
    @include media-telephone{
        margin-top: 25vh;
    }
    
    .wp-block-group__inner-container{ // division par défaut de WP
        display: flex;
        flex-direction: column;
        width: 100vw;
        justify-content: center;
        align-items: center;
    }
}

// titre "Langage et logiciels"
.titre_language_logiciel{
    text-align: center;
    font-family: magistral,sans-serif;
}

// La forme des bulles
.bulle_logiciel{
    width: 200px;
    height: 200px;

    @include media-telephone{
        order: 1;
        width: 130px;
        height: 130px;
        margin-top: 1vh;
        margin-bottom: 1vh;
    }

    @include media-tablette{
        width: 150px;
        height: 150px;
    }
    .wp-block-group__inner-container{
        // position: absolute;
        margin: 0;
        // background-color: violet;
        // background-image: linear-gradient(rgb(109,86,187), rgb(109,86,187));

        figure{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin: 0 auto;

            @include media-telephone{
                width: 13vw;
            }
        }

        .sous_logi{
            .wp-block-group__inner-container{
                width: inherit;
            }
        }
    }
}

// La forme des sous bulles
.sous_logi{
    position: absolute;
    // background-color: white;
    width: 50px;
    height: 50px;
    border-radius: 33%;
    opacity: 0;
}

.blocLogiciel1{
    .wp-block-group__inner-container{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        h2{
            text-align: center;
        }

        @include media-telephone{
            flex-direction: column;
        }
    }
}

.blocLogiciel2{
    .wp-block-group__inner-container{
        display: flex;
        flex-direction: row;
        justify-content: center;

        @include media-telephone{
            flex-direction: column;
        }
    }
}

// -----------------------------------------------------------------------------------------------

// Bulle logiciel jeu
.logiciel-1{
    position: relative;
    background-size: 100px, cover;
    background-repeat: no-repeat;
    background-position: center;
    margin: 4%;

    @include media-telephone{
        margin: inherit;
        margin-bottom: 10vh;
    }

    .enfant1{
        top: -29%;
        left: 22%;
        background-size: contain;
    }

    .enfant2{
        top: -12%;
        left: -13%;
        // background-image: url(images/premiere.png);
        background-size: cover;
    }

    .enfant11{
        top: -26%;
        right: 11%;
    }

    .enfant12{
        top: 1%;
        right: -21%;
    }
}

.logiciel-1:hover{
    .enfant1{
        opacity: 1;
        transition: opacity 1.5s;
    }

    .enfant2{
        opacity: 1;
        transition: opacity 1.5s;
    }

    .enfant11{
        opacity: 1;
        transition: opacity 1.5s;
    }

    .enfant12{
        opacity: 1;
        transition: opacity 1.5s;
    }
}

// -----------------------------------------------------------------------------------------------

// Bulle logiciel creation
.logiciel-2{
    position: relative;
    // background-image: url(images/video.png), linear-gradient(rgb(109,86,187), rgb(109,86,187));
    background-size: 100px, cover;
    background-repeat: no-repeat;
    background-position: center;
    margin-left: 11%;

    @include media-telephone{
        margin: inherit;

        margin-top: 10vh;
        margin-bottom: 10vh;
    }

    .enfant3{
        top: -29%;
        left: 26%;
        background-size: contain;
    }

    .enfant4{
        top: -12%;
        left: -13%;
        background-size: cover;
    }

    .enfant13{
        top: -26%;
        right: 11%;
    }
}

.logiciel-2:hover{
    .enfant3{
        opacity: 1;
        transition: opacity 1.5s;
    }

    .enfant4{
        opacity: 1;
        transition: opacity 1.5s;
    }

    .enfant13{
        opacity: 1;
        transition: opacity 1.5s;
    }
}

// -----------------------------------------------------------------------------------------------

// Bulle logiciel web
.logiciel-3{
    position: relative;
    background-size: 100px, cover;
    background-repeat: no-repeat;
    background-position: center;
    margin: 3%;

    @include media-telephone{
        margin: inherit;
        margin-bottom: 10vh;
    }

    .enfant5{
        top: -25%;
        left: 28%;
        background-size: contain;
    }

    .enfant6{
        top: -12%;
        left: -13%;
        background-size: cover;
    }

    .enfant14{
        top: -26%;
        right: 11%;
    }

    .enfant15{
        top: 1%;
        right: -21%;
    }

    .enfant16{
        top: 37%;
        right: -28%;
    }
}

.logiciel-3:hover{
    .enfant5{
        opacity: 1;
        transition: opacity 1.5s;
    }

    .enfant6{
        opacity: 1;
        transition: opacity 1.5s;
    }

    .enfant14{
        opacity: 1;
        transition: opacity 1.5s;
    }

    .enfant15{
        opacity: 1;
        transition: opacity 1.5s;
    }

    .enfant16{
        opacity: 1;
        transition: opacity 1.5s;
    }
}

// -----------------------------------------------------------------------------------------------

// Bulle projet 4
.logiciel-4{
    position: relative;
    background-size: 100px, cover;
    background-repeat: no-repeat;
    background-position: center;
    margin: 3%;

    @include media-telephone{
        margin: inherit;
        margin-bottom: 10vh;
    }

    .enfant7{
        top: -29%;
        background-size: contain;
    }

    .enfant8{
        top: -12%;
        left: -13%;
        background-size: cover;
    }
}

.logiciel-4:hover{
    .enfant7{
        opacity: 1;
        transition: opacity 1.5s;
    }

    .enfant8{
        opacity: 1;
        transition: opacity 1.5s;
    }
}

// -----------------------------------------------------------------------------------------------

// Bulle projet 5
.logiciel-5{
    position: relative;
    background-size: 100px, cover;
    background-repeat: no-repeat;
    background-position: center;
    margin-right: 11%;

    @include media-telephone{
        margin: inherit;
        margin-bottom: 10vh;
    }

    .enfant9{
        top: -29%;
        left: 22%;
        background-size: contain;
    }

    .enfant10{
        top: -12%;
        left: -13%;
        background-size: cover;
    }

    .enfant17{
        top: -26%;
        right: 11%;
    }

    .enfant18{
        top: 1%;
        right: -21%;
    }
}

.logiciel-5:hover{
    .enfant9{
        opacity: 1;
        transition: opacity 1.5s;
    }

    .enfant10{
        opacity: 1;
        transition: opacity 1.5s;
    }

    .enfant17{
        opacity: 1;
        transition: opacity 1.5s;
    }

    .enfant18{
        opacity: 1;
        transition: opacity 1.5s;
    }
}