.GroupeBulle{
    width: 100vw;
    // Balise parent des bulles à effet flottant
    .lesbulles{
        display: flex;
        flex-direction: row;
        display: block;
        position: relative;
    }
}

.groupe2premiereBulles{
    width: 100vw;
    .wp-block-group__inner-container{
        width: 100vw;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    // premiere bulle
    .bulleIntera1{
        // Le texte de la première bulle.
        h2{
        font-weight: 400;
        margin: 0 auto;
        text-align: center;
        }
    }
    // 2e bulle
    .bulleIntera2{
        margin-top: 20vh;
        @include media-tablette{
            margin-top: 10vh;
        }
        // texte 2e bulle
        .titreBulle2{
            font-weight: bolder;
        }
    }
}

// classe qui cible toutes les bulles
.bulleIntera{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40vw;
    height: 150px;
    border-radius: 54% 46% 42% 58% / 60% 58% 42% 40%;
    animation: wave 5s linear infinite alternate;
    @include media-tablette{
        height: 250px;
    }
    .wp-block-group__inner-container{
        flex-wrap: nowrap;
        text-align: center;
        flex-direction: column;
    }
}


// *************************************************** Troisième bulle à effet flottant **************************************** \\
// Troisième bulle à effet flottant mais avec une position plus vers la droite qui contient une photo du tim
.bulleIntera3{
    margin: 0 auto;
    width: 254px;
    height: 150px;
}

// Les animation de la première bulle par keyframes
@keyframes wave{
    20%{
        border-radius: 45% 55% 62% 38% / 53% 51% 49% 47%;
    }

    40%{
        border-radius: 45% 55% 49% 51% / 36% 51% 49% 64%;
    }

    60%{
        border-radius: 60% 40% 57% 43% / 47% 62% 38% 53%;
    }

    80%{
        border-radius: 60% 40% 32% 68% / 38% 36% 64% 62%;
    }
}

// Le parent du div de particules 
.particle-container{
    position: absolute;
    top: 0;
    left: 0;
}

// La position et la forme des particules
.particle {
	position: absolute;
 	border-radius: 50%;
}

// Boucle qui passe à travers toutes les boules et change leur position aléatoirement
@for $i from 1 through 30 {
	@keyframes particle-animation-#{$i} {
		100% {
			transform: translate3d((random(90) * 1vw), (random(90) * 1vh), (random(100) * 1px));
		}
	}
	
    // les paramètre des particules comme leur couleurs, tailles, etc.
	.particle:nth-child(#{$i}){
		animation: particle-animation-#{$i} 60s infinite;
		$size: random(5) + 5 + px;
		opacity: random(100)/100;
		height: $size;
		width: $size;
		animation-delay: -$i * .2s;
		transform: translate3d((random(90) * 1vw), (random(90) * 1vh), (random(100) * 1px));
		background: hsl(random(360), 70%, 50%);
	}
}