.sectionCamaraderie{
    width: 100vw;
    // groupe de mots de la section camaraderie
    .GroupeMotCamaraderie{
        display: flex;
        justify-content: center;
        padding-top: 10vh;
        .wp-block-group__inner-container{
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            // position: relative;
            h1{
                margin: 0 auto;
                text-align: center;
                width: 100%;
            }

            // les mots qui apparaissent et disparraisent autour de "Camaderie"
            .sousMotsCamaraderie{
                .wp-block-group__inner-container{
                    position: relative;
                    h2{
                        position: absolute;
                    }
                    h2:nth-child(1){
                        top: -0vw;
                        left:  -40vw;
                    }
                }
            }
        }
    }
    // image TIM orange
    .wp-block-image{
        margin-top: 10vh;
        margin-bottom: 0;
        figure{
            scale: 1.3;
        }
    }
    .imgCamaraderie{
        margin-top: -20vh;
        img{
            width: 100%;
        }

    }
}