/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// **************************************** PARTIE ANIMATION BULLES ET COMPOSANTES *************************************** \\
/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
.GroupeBulle{
    height: 100%;
}

// Balise parent des bulles à effet flottant
.lesbulles{
    display: flex;
    flex-direction: row;
}

// *************************************************** Première bulle à effet flottant **************************************** \\
// La forme des boules et leur couleurs de base et leur positions d'origines
.bulleIntera{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 500px;
    height: 250px;
    content: "";
    border-radius: 54% 46% 42% 58% / 60% 58% 42% 40%;
    background-image: linear-gradient(to right top, #051937, #004d7a, #008793, #00bf72, #a8eb12);
    transform: scale(1);
    animation: wave 5s linear infinite alternate;
    margin: 100px;
}

.bulleIntera1{
    position: absolute;
    top: 10%;
}

// Le texte dans la première bulle.
.titreBulle{
    font-family: magistral,sans-serif;
    font-weight: 400;
    font-style: normal;
    text-decoration: none;
    text-align: left;
    color: white;
    margin: 0 0;
}

.effetGras-bulle1{
    font-weight: bolder;
}

// *************************************************** Deuxième bulle à effet flottant **************************************** \\
// Deuxième bulle à effet flottant mais avec une position plus centrer vers le bas qui contient le texte de bienvenue
.bulleIntera2{
    position: absolute;
    top: 47%;
    left: 30%;
    width: 254px;
}

.titreBulle2{
    font-weight: bolder;
}

// *************************************************** Troisième bulle à effet flottant **************************************** \\
// Troisième bulle à effet flottant mais avec une position plus vers la droite qui contient une photo du tim
.bulleIntera3{
    position: absolute;
    top: 17%;
    right: 0%;
    background-image: url(images/Capture.PNG);
}

// Les animation de la première bulle par keyframes
@keyframes wave{
    20%{
        border-radius: 45% 55% 62% 38% / 53% 51% 49% 47%;
    }

    40%{
        border-radius: 45% 55% 49% 51% / 36% 51% 49% 64%;
    }

    60%{
        border-radius: 60% 40% 57% 43% / 47% 62% 38% 53%;
    }

    80%{
        border-radius: 60% 40% 32% 68% / 38% 36% 64% 62%;
    }
}

// Le parent du div de particules 
.particle-container{
    position: absolute;
    top: 0;
    left: 0;
}

// La position et la forme des particules
.particle {
	position: absolute;
 	border-radius: 50%;
}

// Boucle qui passe à travers toutes les boules et change leur position aléatoirement
@for $i from 1 through 30 {
	@keyframes particle-animation-#{$i} {
		100% {
			transform: translate3d((random(90) * 1vw), (random(90) * 1vh), (random(100) * 1px));
		}
	}
	
    // les paramètre des particules comme leur couleurs, tailles, etc.
	.particle:nth-child(#{$i}){
		animation: particle-animation-#{$i} 60s infinite;
		$size: random(5) + 5 + px;
		opacity: random(100)/100;
		height: $size;
		width: $size;
		animation-delay: -$i * .2s;
		transform: translate3d((random(90) * 1vw), (random(90) * 1vh), (random(100) * 1px));
		background: hsl(random(360), 70%, 50%);
	}
}

/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// ********************************************** lA PARTIE SECTION CAMMADERIE DU SITE *********************************** \\
/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

.cammaderie{
    width: 99vw;
    height: 100vh;
    background-color: white;
    background-image: url(images/groupe_jeune_adulte_decouper.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: bottom;
    overflow: hidden;
}

.conteneur_cammaderie{
    margin-top: 150px;
}

.titre_cammaderie{
    font-family: magistral,sans-serif;
    font-weight: bold;
    font-style: normal;
    text-align: center;
    margin-top: 50px;
}

.text_cammaderie{
    text-align: center;
}

/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// ***************************************** lA PARTIE SECTION PROJET ÉTUDIANT DU SITE *********************************** \\
/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

// balise section avec classe projet_etudiant
.projet_etudiant{
    position: relative;
    width: 99vw;
    height: 99vh;
}

// Div qui s'appelle conteneur_titre-etudiant. Il contient le titre et la bulle qui affiches les projets en entier
.conteneur_titre-etudiant{
    display: block;
    margin: 0 auto;
    padding-top: 110px;
    width: 17vw;
}

// balise h1 pour le titre
.titre_projet-etudiant{
    font-family: magistral,sans-serif;
    text-align: center;
    margin-bottom: 0;
}

// Bulle qui contient tout les projet a voir ainsi que le <a> vers la section projet
.bulle_projet{
    width: 239px;
    height: 63px;
    margin: 0;
}

// balise a qui enmène vers la section projet
.lien_projet{
    text-decoration: none;
    color: white;
}

// balise parents des bulles qui affichent les 5 meilleurs projet
.conteneur_bulle_projet{
    display: flex;
    flex-direction: row;
    width: 99vw;
    height: 55vh;

    // Les bulles qui afficheront les 5 meilleurs projet sur la page d'accueil
    .conteneur_projet{
        position: absolute;
        width: 200px;
        height: 200px;
        background-color: white;
        border-radius: 50%;
        // margin: 30px;
        -webkit-box-shadow:0px 0px 267px 2px rgba(45,255,196,0.9);
        -moz-box-shadow: 0px 0px 267px 2px rgba(45,255,196,0.9);
        box-shadow: 0px 0px 267px 2px rgba(45,255,196,0.9);
    }

    .projet-un{
        // position: absolute;
        // top: 5%;
        left: 10%;
    }

    .projet-deux{
        bottom: 6%;
        left: 22%;
    }

    .projet-trois{
        bottom: 6%;
        right: 43%;
    
    }

    .projet-quatre{
        bottom: 6%;
        right: 22%;    
    }

    .projet-cinq{
        // top: 5%;
        right: 10%;
    }
}

/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// *************************************** lA PARTIE SECTION LANGUAGE & LOGICIEL DU SITE ********************************* \\
/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

.language_logiciel{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 99vw;
    height: 99vh;
    background-image: linear-gradient(to bottom, rgb(237,237,255), rgb(170,201,237));
}

.titre_language_logiciel{
    text-align: center;
    font-family: magistral,sans-serif;
}

.conteneur_logiciel_language{
    position: absolute;
    display: flex;
    flex-direction: row;
    height: 99vh;
    width: 99vw;

    .bulle_logiciel{
        position: absolute;
        margin: 0;
        width: 200px;
        height: 200px;
        // background-color: violet;
        background-image: linear-gradient(rgb(109,86,187), rgb(109,86,187));
    }

    .sous_logi{
        position: absolute;
        background-color: black;
        width: 50px;
        height: 50px;
        border-radius: 33%;
    }

    // -----------------------------------------------------------------------------------------------

    .logiciel-1{
        top: 8%;
        left: 43%;
        background-image: url(images/jeu.png), linear-gradient(rgb(109,86,187), rgb(109,86,187));
        background-size: 100px, cover;
        background-repeat: no-repeat;
        background-position: center;

        .enfant3{
            opacity: 0;
            top: -29%;
            background-image: url(images/afterEffect.png) ;
            background-size: contain;
        }

        .enfant4{
            opacity: 0;
            top: -12%;
            left: -13%;
            background-image: url(images/premiere.png);
            background-size: cover;
        }
    }

    .logiciel-1:hover{
        .enfant3{
            opacity: 1;
            transition: opacity 1.5s;
        }

        .enfant4{
            opacity: 1;
            transition: opacity 1.5s;
        }
    }

    // -----------------------------------------------------------------------------------------------

    .logiciel-2{
        top: 35%;
        left: 14%;
        background-image: url(images/video.png), linear-gradient(rgb(109,86,187), rgb(109,86,187));
        background-size: 100px, cover;
        background-repeat: no-repeat;
        background-position: center;

        .enfant1{
            opacity: 0;
            top: -29%;
            background-image: url(images/afterEffect.png) ;
            background-size: contain;
        }

        .enfant2{
            opacity: 0;
            top: -12%;
            left: -13%;
            background-image: url(images/premiere.png);
            background-size: cover;
        }
    }

    .logiciel-2:hover{
        .enfant1{
            opacity: 1;
            transition: opacity 1.5s;
        }

        .enfant2{
            opacity: 1;
            transition: opacity 1.5s;
        }
    }

    // -----------------------------------------------------------------------------------------------

    .logiciel-3{
        bottom: 5%;
        left: 32%;
        background-image: url(images/paint-brush.png), linear-gradient(rgb(109,86,187), rgb(109,86,187));
        background-size: 100px, cover;
        background-repeat: no-repeat;
        background-position: center;

        .enfant5{
            opacity: 0;
            top: -29%;
            background-image: url(images/afterEffect.png) ;
            background-size: contain;
        }

        .enfant6{
            opacity: 0;
            top: -12%;
            left: -13%;
            background-image: url(images/premiere.png);
            background-size: cover;
        }
    }

    .logiciel-3:hover{
        .enfant5{
            opacity: 1;
            transition: opacity 1.5s;
        }

        .enfant6{
            opacity: 1;
            transition: opacity 1.5s;
        }
    }

    // -----------------------------------------------------------------------------------------------

    .logiciel-4{
        bottom: 5%;
        right: 32%;
        background-image: url(images/worldwide.png), linear-gradient(rgb(109,86,187), rgb(109,86,187));
        background-size: 100px, cover;
        background-repeat: no-repeat;
        background-position: center;

        .enfant7{
            opacity: 0;
            top: -29%;
            background-image: url(images/afterEffect.png) ;
            background-size: contain;
        }

        .enfant8{
            opacity: 0;
            top: -12%;
            left: -13%;
            background-image: url(images/premiere.png);
            background-size: cover;
        }
    }

    .logiciel-4:hover{
        .enfant7{
            opacity: 1;
            transition: opacity 1.5s;
        }

        .enfant8{
            opacity: 1;
            transition: opacity 1.5s;
        }
    }

    // -----------------------------------------------------------------------------------------------

    .logiciel-5{
        top: 35%;
        right: 14%;
        background-image: url(images/bracket.png), linear-gradient(rgb(109,86,187), rgb(109,86,187));
        background-size: 100px, cover;
        background-repeat: no-repeat;
        background-position: center;

        .enfant9{
            opacity: 0;
            top: -29%;
            background-image: url(images/afterEffect.png) ;
            background-size: contain;
        }

        .enfant10{
            opacity: 0;
            top: -12%;
            left: -13%;
            background-image: url(images/premiere.png);
            background-size: cover;
        }
    }

    .logiciel-5:hover{
        .enfant9{
            opacity: 1;
            transition: opacity 1.5s;
        }

        .enfant10{
            opacity: 1;
            transition: opacity 1.5s;
        }
    }
}

/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// ********************************************* lA PARTIE SECTION AVENIR DU SITE **************************************** \\
/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

.avenir{
    width: 99vw;
    height: 99vh;
    background-image:url(images/Rectangle86.png), url(images/homme.png), url(images/montagne.png)  ;
    background-size: cover, 299px 568px, cover;
    background-repeat: no-repeat;
    background-position: none, bottom , none ;
}