/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// ***************************************** lA PARTIE SECTION PROJET ÉTUDIANT DU SITE *********************************** \\
/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

// balise section avec classe projet_etudiant
.projet_etudiant{
    position: relative;
    width: 100vw;
    height: 100vh;
}

// Div qui s'appelle conteneur_titre-etudiant. Il contient le titre et la bulle qui affiches les projets en entier
.conteneur_titre-etudiant{
    display: block;
    margin: 0 auto;
    padding-top: 110px;
    width: 17vw;
}

// balise h1 pour le titre
.titre_projet-etudiant{
    font-family: magistral,sans-serif;
    text-align: center;
    margin-bottom: 0;
}

// Bulle qui contient tout les projet a voir ainsi que le <a> vers la section projet
.bulle_projet{
    width: 239px;
    height: 63px;
    margin: 0;
}

// balise a qui enmène vers la section projet
.lien_projet{
    text-decoration: none;
    color: white;
}

// balise parents des bulles qui affichent les 5 meilleurs projet
.conteneur_bulle_projet{
    display: flex;
    flex-direction: row;
    width: 99vw;
    height: 55vh;

    // Les bulles qui afficheront les 5 meilleurs projet sur la page d'accueil
    .conteneur_projet{
        position: absolute;
        width: 200px;
        height: 200px;
        background-color: white;
        border-radius: 50%;
        // margin: 30px;
        -webkit-box-shadow:0px 0px 267px 2px rgba(45,255,196,0.9);
        -moz-box-shadow: 0px 0px 267px 2px rgba(45,255,196,0.9);
        box-shadow: 0px 0px 267px 2px rgba(45,255,196,0.9);
    }

    .projet-un{
        // position: absolute;
        // top: 5%;
        left: 10%;
    }

    .projet-deux{
        bottom: 6%;
        left: 22%;
    }

    .projet-trois{
        bottom: 6%;
        right: 43%;
    
    }

    .projet-quatre{
        bottom: 6%;
        right: 22%;    
    }

    .projet-cinq{
        // top: 5%;
        right: 10%;
    }
}
