article{
margin-left: 0;
display: flex;
justify-self: left;
justify-content: left;
align-items: left;
padding: 0;
}

.sectionCamaraderie{
    width: 100vw;

}


.imgCamaraderie{
    width: 100%;
}