/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// ***************************************** lA PARTIE SECTION PROJET ÉTUDIANT DU SITE *********************************** \\
/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

// balise section avec classe projet_etudiant
.projet_etudiant{
    position: relative;
    width: 100vw;
    height: 100vh;
}

// Div qui s'appelle conteneur_titre-etudiant. Il contient le titre et la bulle qui affiches les projets en entier
.conteneur_titre-etudiant{
    display: flex;
    justify-content: center;
    width: 100vw;

    .wp-block-group__inner-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

// balise h1 pour le titre
.titre_projet-etudiant{
    font-family: magistral,sans-serif;
    text-align: center;
    margin-bottom: 4vh;
    font-size: 3.5em;
}

// Bulle qui contient tout les projet a voir ainsi que le <a> vers la section projet
.bulle_projet{
    width: 239px;
    height: 63px;
    margin: 0;
}

// balise a qui enmène vers la section projet
.lien_projet{
    a{
        text-decoration: none;
        color: white;
    }
}

// balise parents des bulles qui affichent les 5 meilleurs projet
.conteneur_bulle_projet{
    display: flex;
    flex-direction: column;
    width: 100vw;

    // Les bulles qui afficheront les 5 meilleurs projet sur la page d'accueil
    .conteneur_projet{
        position: relative;
        margin-left: 5%;
        margin-right: 5%;

        img{
            width: 14vw;
            border-radius: 50%;
            -webkit-box-shadow: 0px 0px 55px 2px rgba(255, 183, 3, 0.2);
            -moz-box-shadow: 0px 0px 55px 2px rgba(255, 183, 3, 0.2);
            box-shadow: 0px 0px 55px 2px rgba(255, 183, 3, 0.2);
            transition: all 1.5s ease-in;
        }

        figcaption{
            position: absolute;
            top: 81px;
            left: 14px;
            text-decoration: none;
            color: white;
            font-weight: bold;
            text-align: center;
            opacity: 0;
            transition: all 1.5s ease-in;

            a{
                color: white;
            }
        }

        @include media-telephone{
            width: 170px;
            height: 170px;
        }
    }

    .conteneur_projet:hover{
        img{
            filter: blur(5px);
            transition: all 1.5s ease-out;
        }

        figcaption{
            opacity: 1;
            transition: all 1.5s ease-out;
        }
    }

    .bloc1{
        .wp-block-group__inner-container{
            display: flex;
            justify-content: space-between;
            // margin-bottom: 10%;

            @include media-telephone{
                flex-direction: column;
                margin-bottom: inherit;
                transition: all ease-in 1.5s;
            }

            figure:nth-child(2){
                @include media-telephone{
                    align-self: flex-end;
                }
            }
        }
    }

    .bloc2{
        .wp-block-group__inner-container{
            display: flex;
            justify-content: center;
            margin-bottom: 10%;

            @include media-telephone{
                flex-direction: column;
            }

            figure:nth-child(2){
                margin-top: 3%;
                @include media-telephone{
                    align-self: flex-end;
                }
            }

            figure:nth-child(3){
                @include media-telephone{
                    display: none;
                }
            }
        }
    }
}
