.sectionConcours{
    margin-top: 5vh;
    .wp-block-group__inner-container{
        display: flex;
        // groupe section gauche concours
        .GroupeConcours{
            width: 50%;
            flex-direction: row;
            margin-left: 2%;
            .wp-block-group__inner-container{
                flex-direction: column;
                // groupe mauve
                .groupeMauveConcours{
                    border-radius: 10px;
                    //pour marge left texte dans groupe mauve
                    .wp-block-group__inner-container{
                        padding-left: 4%;
                        p{
                            margin-top: 0;
                        }
                    }
                }
            }
        }
        //imgage
        .imgConcours{
            width: 50%;
            .wp-block-group__inner-container{
                margin-right: 7%;
                figure{
                    width: 100%;
                    display: flex;
                    justify-content: center;
                    margin: 0 auto;
                    scale: 1.1;
                    img{
                        border-radius: 80% 50% 40% 70% / 60% 50% 48% 65%;
                        width: 90%;
                        display: flex;
                        justify-content: center;
                        margin: 0 auto;
                    }
                }
            }
        }
    }

}