.session1{
    margin: 10% 0;
    .wp-block-group__inner-container{
        display: flex;
        justify-content: center;
        width: 80%;
        margin: 0 auto;
        .tirteSession1{
            width: 28%;
            @include media-tablette{
                width: 30%;
            }
            .wp-block-group__inner-container{
                p{  
                    font-size:clamp(.7rem, 1vw , 1rem);   
                    text-align: center;
                    padding: 12px 5px;
                    width: 30vw;
                    border-radius: 17px;
                    word-break: normal;
                    @include media-tablette{
                        font-size:clamp(1rem, 2.5vw , 1.2rem);
                        width: 20vw;
                    }
                    @include media-desktop{
                        font-size:clamp(1.1rem, 2.5vw , 1.25rem);
                        width: 10vw;
                    }
                }
            }
        }
        // contient tout les cours de la session
        .coursSession{
            width: 100%;
            border-radius: 70% 52% 62% 100% / 50% 58% 65% 100%;
            @include media-tablette{
            width: 100%;  
            }
            .wp-block-group__inner-container{
                display: flex;
                flex-direction: column;
                // titre de chaque cours
                .titreCours{
                    border-top: 2px solid #A1DAFF;
                    border-bottom: 2px solid #A1DAFF;
                    .wp-block-group__inner-container{
                        width: 100%;
                        display: flex;
                        flex-direction: row;
                        justify-content: space-between;
                        flex-wrap: nowrap;
                        .divTexteCours{   
                            width: 100%;
                            background-color: red !important;
                            input[type="checkbox"]:checked{
                                    border: 20px solid black;
                                    background-color: rebeccapurple;
                        }
                        }
                    }
                    figure{
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        margin: 0%;
                    }
                }// fin titre cours

                // descrition des cours qui est cache
                .descriptionCours{
                    transition: all .5s ease-in;
                    height: 0;
                    display: none;
                    p{
                        opacity: 0;
                    }
                }

                // --------- fait apparaitre la description des cours avec le JS
                .DescCoursVisible ~ .descriptionCours{
                    height: auto;
                    display: block;
                    p{
                        opacity: 1;
                    }
                }
                .DescCoursInvisible ~ .descriptionCours{
                    height: 0;
                    display: none;
                    p{
                        opacity: 0;
                    }
                }
                // --------- fait apparaitre la description des cours avec le JS

                // rotation de la fleche lorsque la description est affiche ou non
                .DescCoursVisible img{
                    transition: all .2s ease-out;
                    transform: rotate(-90deg);
                }
                .DescCoursInvisible img{
                    transition: all .2s ease-out;
                    transform: rotate(0deg);
                }

                
            }//fin sous-groupe contient tout cours de la sessions
        }
    }
}