.groupeStage{
    margin-top: 10vh;
    h1{
        display: flex;
        justify-content: center;
        font-family: nasalization, sans-serif;
    }
    //texte descriptif des Stages
    .descStage{
        display: flex;
        justify-content: center;
        text-align: center;
        width: 55%;
        margin: 0 auto;
        h3{
            font-family: magistral, sans-serif;
        }
    }

    // photo des Stage
    .GroupePhotoStage{
        margin: 2% 5%;
        .wp-block-group__inner-container{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
            figure{
                margin: 0 5%;
                img{
                    transition: all .6s;
                    border-radius: 100px;
                    &:hover{
                        scale: 1.05;
                        box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.269);
                    }
                }
                figcaption{
                    color: white;
                    text-align: center;
                }
            }
        }
    }
}