.groupeUniversite{
    margin-top: 10vh;
    h1{
        display: flex;
        justify-content: center;
    }
    //texte descriptif des universites
    .descUniversite{
        display: flex;
        justify-content: center;
        text-align: center;
    }

    // photo des universite
    .GroupePhotoUniversite{
        margin: 2% 5%;
        .wp-block-group__inner-container{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        .UniversIndividuelle{
            .wp-block-group__inner-container{
                // groupe de texte
                .wp-block-group{
                    display: flex;
                    width: 200px;
                    text-align: center;
                    p{
                        a{
                            color: white;
                            text-decoration: none;
                            &:hover{
                                color: rgb(212, 218, 255);
                            }
                        }
                    }
                }
            }
        }
        // a toutes les imgs d'universites
            figure{
                margin: 0 5%;
                border-radius: 100px;
            }
        }
    }
}