// test pour voir si les fichier gutenberg apparait dans le github

.sectionProjetsEtudiants{ // Section qui englobe la page création
    .wp-block-group__inner-container{ // division par défaut de WP

        .titreProjetEtudiant{
            text-align: center;
            margin-top: 10vh;
            font-family: magistral, sans-serif;
        }

        .projet_vedette{ // section qui montre les 3 meilleurs projet. ---> les 3 rectangles
            .wp-block-group__inner-container{ // division par défaut de WP
                display: flex;
                justify-content: space-around;
                margin-bottom: 5vh;
                margin-top: 10vh;

                @include media-telephone{
                    flex-direction: column;
                    align-items: center;
                }

                @include media-tablette{
                    flex-wrap: wrap;
                }

                .meilleurProjet{
                    position: relative;      
                    img{
                        position: relative;
                        width: 22vw;
                        height: 20vh;
                        border-radius: 19px;
                        -webkit-filter: grayscale(100%);
                        filter: grayscale(75%);
                        transition: all 1.5s ease-in;

                        @include media-telephone{
                            width: inherit;
                        }

                        @include media-tablette{
                            width: inherit;
                        }
                    }

                    figcaption{
                        color: rgb(255, 255, 255);
                        background-color: rgba(0,0,0,0.7);
                        width: 100%;
                        position: absolute;
                        top: 60px;
                        font-weight: bold;
                        font-size: 1.1em;
                        opacity: 0;
                        text-align: center;
                        transition: all 1.5s ease-in;
                    }
                }

                .meilleurProjet:hover{
                    img{
                        transition: all 1.5s ease-out;
                        box-shadow: 0px 0px 30px 15px #8c92e429;
                        -webkit-filter: none;
                        filter: none;

                        ~ figcaption{
                            opacity: 1;
                            transition: all 1.5s ease-out;
                        }
                    }
                }
            }
        }

        .projetEtudiants{
            .wp-block-group__inner-container{ // division par défaut de WP
                display: flex;
                justify-content: space-around;
                flex-wrap: wrap;
                margin: 0 5vw;

                .projetNormal{ // les projets normaux qui ne sont pas vrmt wow
                    position: relative;
                    margin: 2vh 2vw;
                    img{
                        border-radius: 15px;
                        filter: grayscale(85%);
                        transition: all 1.5s ease-in;
                    }

                    figcaption{
                        position: absolute;
                        color: white;
                        width: 100%;
                        background-color: rgba(0,0,0,0.7);
                        top: 78px;
                        opacity: 0;
                        font-weight: bold;
                        font-size: 1.04em;
                        text-align: center;
                        transition: all 1.5s ease-in;
                    }

                    // img:hover{
                    //     transition: all .4s ease-out;
                    //     box-shadow: 0px 0px 30px 15px #8c92e429;
                    //     filter: none;
                    // }
                }

                .projetNormal:hover{
                    img{
                        transition: all 1.5s ease-out;
                        box-shadow: 0px 0px 30px 15px #8c92e429;
                        -webkit-filter: none;
                        filter: none;

                        ~ figcaption{
                            opacity: 1;
                            transition: all 1.5s ease-out;
                        }
                    }
                }

            }
        } 
    }
}

// &::after{
//     content: " ";
//     position: absolute;
//     top: 0;
//     left: 0;
//     border-radius: 19px;
//     background-color: black;
//     height: 20vh;
//     width: 22vw;
// }