.sectionProjetIntro{ // la section du projet
    width: 100vw;

    @include media-telephone{
        margin-top: 6vh;
    }
    
    .wp-block-group__inner-container{ // division par defaut WP
        display: flex;
        flex-direction: row;

        @include media-telephone{
            flex-direction: column;
        }
    }

    .formeCarre{ // forme de base des deux carré création et programmation

        @include media-telephone{
            display: flex;
            justify-content: center;
        }

        @include media-tablette{

        }
        .wp-block-group__inner-container{ // division par défaut WP
            width: 50vw;
            height: 100vh;
            justify-content: center;
            flex-direction: column;
            align-items: center;

            @include media-telephone{
                height: inherit;
                margin-top: 12%;
            }

            .typeSujet{ // Élément de base poue les deux cercles création et programmation
                width: 27em;
                cursor: pointer;

                @include media-telephone{
                    width: inherit;
                }

                @include media-tablette{
                    width: 32vw;
                }
            }

            .divProg{ // division qui cible seulement la bulle de création
                a{
                    img{
                        transition: all 1s ;
                        box-shadow: 0px 0px 100px 20px #24ce27;
                        border-radius: 45% 68% 22% 70% / 60% 50% 48% 65%;
                        &:hover{
                            box-shadow: 0px 0px 100px 20px rgb(24, 255, 28); 
                            border-radius: 80% 50% 40% 70% / 60% 50% 48% 65%;
                        }
                    }
                }
            } 

            .divCreation{ // division qui cible seulement la bulle de programmation
                a{
                    img{
                        transition: all 1s ;
                        border-radius: 45% 68% 22% 70% / 60% 50% 48% 65%;
                        box-shadow: 0px 0px 100px 20px #732eda;
                        &:hover{
                            box-shadow: 0px 0px 100px 20px #8331ff;
                            border-radius: 80% 70% 40% 70% / 80% 60% 60% 65%;
                        }
                    }
                }
            }

        }
    }
}