//padding entre les articles
.entry-content{
    margin: 0;
}

.category-accueil{
    margin: 0;
}

#particle-container{
    z-index: 20;
}

/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// ***************************************************** lA PARTIE NAV **************************************** \\
/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
.menu-menutim-container{
    transition: all 1.5s ease-out;
    width: 100vw;

    @include media-telephone{
        height: 70vh;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: -74vh;
    }

    @include logo-Tim{
        height: 70vh;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: -74vh;
    }

    ul{
        display: flex;
        justify-content: space-between;
        transition: all ease-in 1.5s;

        @include media-telephone{
            display: block;
            text-align: center;
        }

        @include logo-Tim{
            text-align: center;
        }

        @include media-tablette{
            font-size: 0.6rem;
            transition: all ease-in 1.5s;
        }

        // les onglets du nav
        li{
            justify-content: space-between;
        }
    }

}

a{
    text-decoration: none;
}

/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// ***************************************************** lA PARTIE HEADER DU SITE **************************************** \\
/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
.entry-header{
    display: none;
}

.entry-footer{
    display: none;
}

.menu-image{
    transition: all ease-in 1.5s;
    width: 50px;
    height: 50px;
    align-self: flex-start;

    @include media-tablette{
        height: 25px;
        transition: all ease-in 1.5s;
    }
}

.site-branding{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.site-title{
    margin-top: 0;
    margin-bottom: 0;
    a{
        display: none;
        font-family: magistral,sans-serif;
        font-weight: 400;
        font-style: normal;
        text-decoration: none;
        color: white;
    }
}

/// lA PARTIE BODY DU SITE \\\

body{
    background-color: #072338;
    scroll-behavior: smooth;
}

.site-main{
    position: relative;
    width: 100vw;
    margin: 0 auto;
    transition: all ease-in 1.5s;
}

/// lA PARTIE LIEN NAVIGATIONNEL VERS LES AUTRES DU SITE \\\
.lien_page{
    background-color: #ffb400;
    width: 13vw;
    height: 5vh;
    // position: absolute;
    bottom: 30px;
    right: 22px;
    margin: 2%;
    text-decoration: none;
}

.menu-flottant{
    z-index: 200;
    position: fixed;
    top: 243px;
    left: -166px;
    border-radius: 0px 25px 25px 0;
    font-weight: 700;
    background-color: #6613cd;
    color: white;
    width: 13vw;
    transition: left .5s ease-out;

    &:hover{
        left: -11px;
        transition: left .5s ease-in;
    }
    .wp-block-group__inner-container{
        ul{
            list-style: none;
            margin-left: 19px;
            margin-bottom: 4px;
            padding-left: 0;
            li{
                margin: 1.5% 1.5%;
                a{
                    text-decoration: none;
                    color: white;
                    scroll-behavior: smooth;

                    &:hover{
                        color: #ffb400;
                        cursor: pointer;
                        text-transform: uppercase;
                    }
                }
            }
        }
    }
}