//padding entre les articles
.entry-content{
    margin: 0;
}

.category-accueil{
    margin: 0;
}

/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// ***************************************************** lA PARTIE NAV **************************************** \\
/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
.menu-menutim-container{
    transition: all 1.5s ease-out;
    width: 100vw;

    @include media-telephone{
        height: 70vh;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: -74vh;
    }

    ul{
        display: flex;
        justify-content: space-between;
        transition: all ease-in 1.5s;

        @include media-telephone{
            display: block;
            text-align: center;
        }

        @include media-tablette{
            font-size: 0.6rem;
            transition: all ease-in 1.5s;
        }

        // les onglets du nav
        li{
            justify-content: space-between;
        }
    }

}

a{
    text-decoration: none;
}

/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// ***************************************************** lA PARTIE HEADER DU SITE **************************************** \\
/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
.entry-header{
    display: none;
}

.entry-footer{
    display: none;
}

.menu-image{
    transition: all ease-in 1.5s;
    width: 50px;
    height: 50px;
    align-self: flex-start;

    @include media-tablette{
        height: 36px;
        transition: all ease-in 1.5s;

        @include logo-tim{
            display: none;
        }
    }
}

.site-branding{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.site-title{
    margin-top: 0;
    margin-bottom: 0;
    a{
        display: none;
        font-family: magistral,sans-serif;
        font-weight: 400;
        font-style: normal;
        text-decoration: none;
        color: white;
    }
}

/// lA PARTIE BODY DU SITE \\\

body{
    background-color: #072338;
}

.site-main{
    position: relative;
    width: 100vw;
    height: 100vh;
    margin: 0 auto;
    transition: all ease-in 1.5s;
}

/// lA PARTIE LIEN NAVIGATIONNEL VERS LES AUTRES DU SITE \\\
.lien_page{
    background-color: #ffb400;
    width: 13vw;
    height: 5vh;
    // position: absolute;
    bottom: 30px;
    right: 22px;
    margin: 2%;
    text-decoration: none;
}